header {
  background-color: #ebeff2;
  padding: 1.3em 0;
  box-shadow: 1px 2px 6px 2px #d1d3d4;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 40px;
    width: 40px;

    transform: translateX(19px) rotatez(114deg);
  }
  a {
    text-decoration: none;
    h1 {
      font-family: "Baiknya";
      text-transform: capitalize;
      color: black;
    }
  }

  .btn-nav {
    text-decoration: none;
    color: #546e7a;
    margin-left: 10px;
  }
}
