<section class="main-home-page">
    <header class="main-layout">
        <h1>The ultimate online bookmark manager and organizer, inspired by Bookmark Ninja</h1>
        <img class="full" src="https://www.bookmarkninja.com/images/m-ninja-header-website.jpg?v=1.1" alt="">
    </header>
    <main class="main-layout">

        <h2>A user-friendly bookmark manager - watch video to learn more</h2>
        <div class="video-container">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dbBJVjRq6f0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </main>
    <section class="main-layout customer-testimonials">
        <h2>Why is Bookmark Samurai the ultimate bookmark manager? - Customers said</h2>

        <h5>"I've used a few of these services in the past and dropped them due to lack of features.
            This one is by far the best I've used and at a great price."</h5>
        <h5>"I am ready to pay, sign up, become a life long member, recommend it to all my clients, and act informally
            as an evangelist."</h5>
        <h5>"It is really fantastic and has changed the way I use the internet in a fundamental way."</h5>
        <h5>"You truly have a great product. Great concept and so easy to use."</h5>
        <h5>"It is not every day that I find a new product that I immediately realize I absolutely cannot live without."
        </h5>
        <h5>"I find Bookmark Samurai to be very intuitive and easy to use. I have also found the customer service to be
            personable, prompt and top quality. I feel like a valued customer."</h5>

    </section>
</section>