ul {
  transition: transform 1s;
  border: solid 2px #ededed;
  padding: 1em 0.5em;
  li {
  }
}

.close-li {
  transform: translateY(-100%);
  transition-delay: display 1s;
  // display: none;
}

.tab-options {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.cover {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.isHidden {
}
