section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    svg {
      display: inline;
    }
  }
  svg {
    fill: rgba(0, 0, 0, 0.6);
    display: none;
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: 1.4em;
  }
  a {
    margin-left: 0.4em;
    text-decoration: none;
    color: black;
    p {
      text-transform: capitalize;
      font-size: 1.1em;
      line-height: 1.6;
    }
  }
}

.tab-options {
  position: absolute;
  box-shadow: 1px 1px 1px 1px #d1d3d4;
  right: 0;
  // bottom: -100%;
  z-index: 20;
  background-color: whitesmoke;
  li {
      padding:  5px 10px;
    &:hover {
      cursor: pointer;
      background-color: #d1d3d4;
    }
  }
}

.cover {
  position: fixed;
  z-index: 15;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
