.category-list{
    display: grid;
    grid-template-columns: auto auto;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    // justify-content: space-between;
    // grid-column: 3;
background-color: white;
}
.bookmark-category{
 
}