.category-list{
   
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: space-between;
    // grid-column: 3;
background-color: white;
gap: 10px;
}
.bookmark-category{
 flex-grow: 1;
}